Package: com.galacticdev.bigytminiplayer
Name: BigYTMiniPlayer
Depends: mobilesubstrate
Version: 1.0-1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
