Package: com.galacticdev.bigytminiplayer
Name: BigYTMiniPlayer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Version: 1.0
Installed-Size: 168
